$fonts: (
zagolovok: 'Roboto',
maintext: 'Open Sans',
textbold: 'Russo One',
);

 $formasvaz: (
 border-width: 5px,
 border-style:groove,
 border-radius: 10px,
 border-color: #b8b8b8,
 );

$colorsitesbefore: #13baed;
$colorsitesafter: #03fcc2;
$size-zagolovok: 230%;
$otpr-button-before: #00e5ff;
$otpr-button-after:#0095ff;
$footer-color:#003282;